[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ontologics"]
	path = ontologics
	url = https://github.com/luckinet/ontologics
	shallow = true
	registered = true
[submodule "tabshiftr"]
	path = tabshiftr
	url = https://github.com/luckinet/tabshiftr
	shallow = true
	registered = true
